.hr{
height: 15px;
background-color:red ;
}
.dark{
  
  border-bottom:solid 1px grey;
  width:100%;
  height:50px;
}
.info{
	text-transform: uppercase;
	color: black;
	margin-bottom: 1rem;
	font-size: large;
	text-align: center;

}
.label{
	text-transform: uppercase;
	margin-top: 2rem !important;
}
.hidden{
  display:none;
}

.titulo{
 text-transform: uppercase;
width: 100%;
height: 30px;
margin-top: 2rem;
margin-bottom: 2rem;
text-align: center;
background-color: #1D8F7A;
color: white;
font-size:20px;
}

.subir{
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.separador{
	 text-transform: uppercase;
width: 100%;
height: 30px;
margin-top: 2rem;
margin-bottom: 2rem;
text-align: center;
background-color: #1D8F7A;
color: white;
font-size:20px;
}

.table{
	font-size: small;
	font-family: sans-serif;
}

.perfil{
	text-align: center;
}